@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

body {
    background-color: black;
}

h1, h2, h3, h4, h5, span, a {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
}

#logo-text {
    margin-left: 39%;
}

#q {
    margin-left: 41%
}

p {
    font-family: 'Raleway', sans-serif;
}

#n {
    margin-left: 93%;
    font-family: 'Raleway', sans-serif;
    size: 6%;
}

#link-1 {
    margin-top: 18%;
    font-family: 'Poppins', sans-serif;
}

h1.title-example{
    color: #ffffff; /* Цвет заголовка */
    text-align: center; /* Текст по центру */
}
/*  CSS код для линии над заголовком */
h1.title-example:before {
    content: '';
    display: block;
    height: 1px; /* Высота линии */
    background: #ffffff; /* Цвет линии */
    width: 150px; /* Ширина линии до наведения */
    margin: 0 auto 10px; /* Отступ с боков по центру и снизу */
	transition: 0.7s; /* Время, за которое линия возвращается после наведения */
}
h1.title-example:hover:before {
    width: 250px; /* Ширина линии при наведении */
	transition: ease-out 0.7s; /* Время, за которое линия расширяется при наведении */
}
/*  CSS код для линии под заголовком */
h1.title-example:after {
    content: '';
    display: block;
    height: 1px; /* Высота линии */
    background: #ffffff; /* Цвет линии */
    width: 150px; /* Ширина линии до наведения */
    margin: 10px auto 0; /* Отступ с боков по центру и сверху */
	transition: 0.7s; /* Время, за которое линия возвращается после наведения */
}
h1.title-example:hover:after {
    width: 250px; /* Ширина линии при наведении */
	transition: ease-out 0.7s; /* Время, за которое линия расширяется при наведении */
}

h2 {
    color: #ffffff; /* Цвет текста */
    background: rgb(0, 0, 0); /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    transition: 1s linear; /* Время изменения */
}
h2:hover {
    color: #000000; /* Цвет текста */
    background: #ffffff; /* Цвет фона */
}

h3{
    font-family: 'Raleway', sans-serif;
    color: #606060; /* Цвет  текста */
    font-size: 2em; /* Размер  текста */
    font-weight: bold;
    padding: 20px 0px;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }
  h3:hover{
    color: #ffffff; /* Меняем цвет текста */
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000;
  }